@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 12px;
  background-color: #5f60b488;
  border: none;
  border-radius: 6%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
}

.logo {
  color: darkolivegreen;
}

input, textarea{
  width: 200px;
}

hr {
  width: 200px;
}